*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


#content{
    
    
    
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}




#content img{
    
    
    width: 500px;
    
    
} 




main{
    margin-top: 50px;
    min-height:100vh;
    background:linear-gradient(to right top,#99d6ff,#1aa3ff);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.glass{
    background:white;
    min-height:95vh;
    width:70%;
    background:linear-gradient(to right bottom,rgba(255,255,255,0.7),rgba(255,255,255,0.3));
    border-radius: 8px;
    backdrop-filter: blur(2rem);
    z-index: 2;
}

.circle1,
.circle2{
    background:white;
    background:linear-gradient(to right bottom,rgba(255,255,255,0.9),rgba(255,255,255,0.4));
    position:absolute;
    border-radius: 50%;
}
.circle1{
    height:200px;
    width:200px;
    top:15%;
    right:6%;
}
.circle2{
    height:180px;
    width:180px;
    bottom:4%;
    left:10%;
}

nav{
    z-index: 3;
    top:0;
    width: 100%;
    position: fixed;
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background: rgb(33, 74, 255);
    font-family: 'Poppins', sans-serif;
}
.logo a{
    text-decoration: none;
    letter-spacing: 2px;
    color: rgb(248, 246, 246);
    text-transform: uppercase;
}
.nav-links{
    z-index: 3;
    margin:0 !important;
    padding:0 !important;
    display: flex;
    justify-content: space-around;
    width: 30%;
    color: rgb(248, 246, 246);
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: rgb(248, 246, 246);
    text-decoration: none;
}
.hidden-menu{
    display: none;
    cursor: pointer;
}
.line1,.line2,.line3{
    width: 25px;
    height:3px;
    background-color: rgb(248, 246, 246);
    margin:5px;
    transition: transform 0.3s ease;
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position:absolute;
        right:0px;
        height:92vh;
        top:8vh;
        background-color:rgb(33, 74, 255);
        display:flex;
        flex-direction: column;
        align-items: center;
        width:50%;
        transform:translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .hidden-menu{
        display:block;
    }
}
.nav-active{
    width:50%;
    transform:translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
.login{
    padding: 7px;
    background-color: rgb(42, 175, 146);
    border-radius: 5px;
}

.naslov
  {
      color:white;
      text-align: center;
     font-size: 50px;
      font-family: Arial, Helvetica, sans-serif;
       background-color: blue
  }
  .podnaslov
  {
      color:blue;
     font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
  }

  
  #username, #password,#passagain {
    border-radius: 7px;
  }

 #content table{
    align-self: center;
}
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  img.avatar {
    width: 20%;
    border-radius: 50%;
  }
  
  
  span.psw {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
  }
  
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
  }

  .uredi{
      margin:5px;
      display:flex;
      flex-direction: column;
      align-items: center ;
      justify-content: center;

  }
  .register{
    padding:7px;
    background-color: #f44336;
    border-radius: 5px;
  }
  .registerbutton{
    padding: 14px 20px;
    margin: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    background-color: #f44336;
    border-radius: 5px;
}

.rad{
    border-radius: 20px;
}
.obavjestenje{
    border-width: 1px;
    border-style: solid;
    margin:8px;
    background-color: rgb(0, 247, 255);
    padding:8px;
    border-radius: 2px;
}

.section{
    width:55%;
    position: relative;
    height:60px;
    overflow:hidden;
}

.section input{
    width: 100%;
    height: 100%;
    color:#595f6e;
    padding-top: 20px;
    border:none;
    outline:none;
    background-color: transparent;
}

.section label{
    position:absolute;
    bottom: 0px;
    left:0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}

.section label::after{
    content:'';
    position:absolute;
    left:0px;
    bottom:-1px;
    height:100%;
    width:100%;
    border-bottom: 3px solid #00d9ff;
    transform:translateX(-100%);
    transition:all 0.3s ease;
}

.content-name{
    position: absolute;
    bottom:5px;
    left:0px;
    transition: all 0.3s ease;
}

.section input:focus+ .label-name .content-name,
.section input:valid+ .label-name .content-name
{
    transform: translateY(-150%);
    font-size: 14px;
    color:#5fa8d3;
}

.section input:focus+ .label-name::after,
.section input:valid+ .label-name::after{
    transform:translateX(0%);
}